body{
    font-family: 'Noto Sans',sans-serif;

}
h1,h2,h3,h4,h5,h6{
  color:#1e1e1e;
}

.form-select:focus{
    border-color: rgba(230, 28, 76, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(230, 28, 76, 0.6);
    outline: 0 none;
  }
  .input-textarea:focus,
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  input[type="radio"]:focus,
  input[type="checkbox"]:focus,
  .uneditable-input:focus {   
    border-color: rgba(230, 28, 76, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(230, 28, 76, 0.6);
    outline: 0 none;
  }
  textarea:focus{
    border-color: rgba(230, 28, 76, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(230, 28, 76, 0.6);
    outline: 0 none;
  }

.auth-background{
    background-image: url('../images/bg1.jpg');
    background-size: cover;
    background-repeat: repeat;
}
.overlay-background{
    background-color: rgba(176, 42, 55, 0.75);
}
.signup-div{
    background-color: #faf9f6;
    border-radius: 45px;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.right-section{
    padding: 30px 60px;
}

.p-text{
    font-size: 14px;
}

.user-menu {
    overflow: hidden;
    border-bottom: 1px solid #bdbdbd;
  }
  
  .user-menu .col-6{
    padding: 0;
  }
  .user-menu a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
  }
  
  .user-menu a:hover {
    border-bottom: 2px solid #E61C4C;
    color: #E61C4C!important;
    font-weight: 500;

  }
  
  .user-menu a.active {
    border-bottom: 2px solid #E61C4C;
    color: #E61C4C;
    font-weight: 500;
  }
  .signup-form{
    margin: 20px 0;
  }
  .password-wrapper{
    position: relative;
  }
  .password-form i{
    position:absolute;
    right: 10px;
    top: 12px;
    cursor:pointer;
    color:rgba(230, 28, 76, 0.4)
  }
/*   .social-form .social-icon{
    position:absolute;
    left: 10px;
    top: 10px;
    cursor:pointer;
    color:rgba(230, 28, 76, 0.4)
  }
  .social-input{
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  } */
  .password-wrapper {
    position: relative;
  }
  
  .social-form .social-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    filter: brightness(0) saturate(100%) invert(70%) sepia(4%) 
            saturate(0%) hue-rotate(244deg) brightness(89%) contrast(86%); /* Default #b3b3b3 color */
  }
  
  .social-input {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
  }
  
  /* Styles when the input is filled */
  .password-wrapper.filled .social-input {
    background-color: #F5D4DB;
    border-color: #E61C4C;
    color: #E61C4C;
    font-weight: 500;
  }
  
  .password-wrapper.filled .social-icon {
    filter: brightness(0) saturate(100%) invert(35%) sepia(78%) 
            saturate(2648%) hue-rotate(335deg) brightness(91%) contrast(96%); /* Filled #E61C4C color */
  }
  
  .clear-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    cursor: pointer;
    display: none; /* Hidden by default */
    color: #E61C4C;
    z-index: 3;
  }
  
  .password-wrapper.filled .clear-icon {
    display: block; /* Show the clear icon when input is filled */
  }
  

  .slikoo-button{
    width: 100%;
    background-color: #E61C4C;
    padding: 10px 0;
    border-radius: 15px;
    border: none;
    font-size: 14px;
    color: #fff;
  }
  .slikoo-button:hover{
    width: 100%;
    background-color: rgba(230,28,76,0.9);
    padding: 10px 0;
    border-radius: 15px;
    border: none;
    color: #fff;
  }
label{
  font-size: 14px;
}
input[type = "text"],
input[type = "email"],
input[type = "password"] {
  font-size: 14px;
}
select{
  font-size: 14px;

}
.right-cta{
  height: 100vh;
}  

.slikoo-link{
  color: rgba(230,28,76,1);
  text-decoration: none;
}
.slikoo-link:hover{
  color: rgba(230,28,76,.9);
}

.details-background{
  background-image: url('../images/bg.png');
  background-size: cover;
  background-repeat: repeat;
}
.checkbox-slikoo{
  background-color: #fff;
  margin: 5px 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 70px;
  border-radius: 15px;
  border: 0.5px solid #bdbdbd;
  display: flex;
  align-items: center;
  color: #616161;
  
}
.checkbox-slikoo.language{
  background-color: #fff;
  margin: 5px 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  border: 0.5px solid #bdbdbd;
  display: flex;
  align-items: center;
  color: #616161;
  
}
.checkbox-slikoo input{
  margin-right: 5px;
  
}

.checkbox-slikoo input[type="checkbox"] {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  width:  15px;
  height: 15px;
  border: 0.5px solid #bdbdbd;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.checkbox-slikoo input[type="checkbox"]:checked {
  background-color: #E61C4C;
  border-color: #E61C4C;
}

.checkbox-slikoo input[type="checkbox"]:checked::before {
  content: '';
position: absolute;

  width:  13px;
  height: 13px;
  background-color: #E61C4C;
  border: 2px solid #F5D4DB;
  border-radius:3px;
}

.checkbox-slikoo.checked {
  background-color: #F5D4DB;
  border-color: #E61C4C;
  color: #E61C4C;
  font-weight: 500;
}
.checkbox-slikoo input[type="radio"]{
  accent-color: #E61C4C;
}
.checkbox-slikoo.checked .icon {
  filter: invert(28%) sepia(63%) saturate(7468%) hue-rotate(335deg) brightness(92%) contrast(96%);

}

/* PLAYGROUND */
.custom-select{
  position: relative;
  width: auto;
  }
  .select-box{
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
  }
  .selected-options {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    }
    .tag{
    background-color: #F5D4DB;
    color: #E61C4C;
    font-weight: 500;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
      font-size: 14px;
    padding: 12px 14px;
    border-radius: 15px;
    display: flex;
    align-items: center;

    }
    .remove-tag{
    margin-left: 6px;
    cursor: pointer;
    }
    .arrow{
    margin: 0 10px;
    }
    .fa-angle-down{
    color: #404040;
    font-size: 30px;
    }

    .options{
      
      display: none;
      position: absolute;
      width: 100%;
      background-color: #ffffff;
      border: 1px solid #ced4da;
      border-top: none;
      max-height: 225px;
      overflow-y: auto;
      z-index: 1;
      box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
      }
      .open .options{
      display: block;
      }
      .option-search-tags{
      background-color: #ffffff;
      border: 1px solid #ced4da;
      padding: 0px 0px;
      margin: 8px;
      box-shadow: none;
      outline: none;
      border-radius: 15px;

      }
      .search-tags{
        height:52px;
        padding-left: 10px;
        border-radius: 15px;
        box-shadow: none;
        outline: none;
      width: 100%;
      border:none;
      outline: none;
      font-size: 14px;
      }
      .clear{
        position: absolute;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        padding: 0;
        color: #000;
        top: 26px;
        left: auto;
        right: 15px;
        }
        .option{
        padding: 12px;
        cursor: pointer;
        }
        .option.active {
        color: #000;
        background-color: #f2f2f2;
        border-bottom: 1px solid #eaeaea;
        }
        .tag:hover,
        .option:hover{
        background-color: #eaeaea;
        }
        .no-result-message{
        padding: 0px 0px 12px 12px;
        }
        .error{
          color: #ff1a2a;
          margin-top: 8px;
          }
          .btn_submit{
          padding: 17px 24px;
          background-color: ☐ #4caf50;
          color: #ffffff;
          border: none;
          cursor: pointer;
          font-size: 16px;
          }
          .btn_submit:hover{
          background-color: #4caf50;
          }
          .placeholder{
            background-color: transparent!important;
            font-size: 14px;
            cursor:pointer;
          }
          .fa-circle-xmark{
            margin-left: 10px;
            color: rgba(230, 28, 76, 0.4);
          }
          
/* /PLAYGROUND */
/* Responsive CSS */


.circular-progress {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50%;
  --size: 100px;
  --half-size: calc(var(--size) / 2);
  --stroke-width: 10px;
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(var(--radius) * pi * 2);
  --dash: calc((var(--progress) * var(--circumference)) / 100);
  animation: progress-animation 5s linear 0s 1 forwards;
}

.circular-progress circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  fill: none;
  stroke-linecap: round;
}

.circular-progress circle.bg {
  stroke: #ddd;
}

.circular-progress circle.fg {
  transform: rotate(-90deg);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
  transition: stroke-dasharray 0.3s linear 0s;
  stroke: #16ABDB;
}

.progress-bar-div {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
  
}

/* Center the percentage text within the progress bar */
.progress-bar-span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  color: #fff; /* Adjust the text color as needed */
}

/* #calendar{
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  font-family: 'Lato', sans-serif;
} */

#calendar {
  position: sticky;
  top: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
  margin-bottom: 20px;
  
}

#calendar_weekdays div{
  display:inline-block;
  vertical-align:top;
}
#calendar_content, #calendar_weekdays, #calendar_header{
  position: relative;
  width: 320px;
  overflow: hidden;
  float: left;
  z-index: 10;
}
#calendar_weekdays div, #calendar_content div{
  width:40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  background-color: #FFFFFF;
  color: #787878;
}
#calendar_content{
  -webkit-border-radius: 0px 0px 12px 12px;
  -moz-border-radius: 0px 0px 12px 12px; 
  border-radius: 0px 0px 12px 12px;
}
#calendar_content div{
  float: left;
}
#calendar_content div:hover{
  background-color: #F8F8F8;
  cursor:pointer;
  border-radius: 5px;

}
#calendar_content div.blank{
  background-color: #E8E8E8;
}
#calendar_header, #calendar_content div.today{
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7;
  border-radius: 5px;

}
#calendar_content div.today{
  color: #FFFFFF;
}
#calendar_header{
  width: 100%;
  height: 37px;
  text-align: center;
  background-color: #FF6860;
  padding: 18px 0;
  -webkit-border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px; 
  border-radius: 12px 12px 0px 0px;
}
#calendar_header h3{
  font-size: 1.3em;
  color: #FFFFFF;
  float:left;
  width:70%;
}
i[class^="fa-solid fa-chevron"]{
  color: #FFFFFF;
  float: left;
  width:15%;
  border-radius: 50%;
  cursor: pointer;
}

.res-card{
  font-weight: 500;
  border-radius: 15px;
  background-color: #fff;
  padding: 25px 15px;
  border: 1px solid #bdbdbd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  cursor:pointer;
}
.res-card i{
  color: #b3b3b3;
  margin-left:10px;

}
.res-card.active{
  background-color: #E61C4C;
  color:#ffffff;
}
.res-card.active .icon{
  filter: brightness(0) saturate(100%) invert(100%) contrast(100%);

}
.res-card.active i{
  color: #fff;
  margin-left:10px;

}

.circle-selector {
    display: flex;
    gap: 15px;
}

.circle-selector input[type="radio"] {
    display: none;
}

.circle-selector label {
    width: 50px;
    height: 50px;
    background-color: #EAEAEA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

.circle-selector input[type="radio"]:checked + label {
    background-color: #E61C4C;
    color: #fff;
}
.slikoo-datepicker{
  background-color: #E61C4C;
  padding: 15px;
 
  font-family: "Roboto Mono",monospace;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}
input[type="date"],
input[type="time"]{
  color-scheme: dark;
}
::-webkit-calendar-picker-indicator{
  background-color: #e61c4c;
  color: white;
  padding: 5px;

  cursor: pointer;
  border-radius: 3px;
}

@media screen and (max-width: 991px) {
  .tables-title{
    margin-top:20px;
  }
  #calendar {
    position: static;
    width: 100%;
    margin: 0 auto;
  }
  .right-cta{
    height: auto;
    margin: 2rem 0;
  }
  .right-section{
    padding: 30px 0px;
}  
.circular-progress {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50%;
  --size: 100px;
  --half-size: calc(var(--size) / 2);
  --stroke-width: 10px;
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(var(--radius) * pi * 2);
  --dash: calc((var(--progress) * var(--circumference)) / 100);
  animation: progress-animation 5s linear 0s 1 forwards;
  background-color: #eaeaea;
}

.circular-progress circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  fill: none;
  stroke-linecap: round;
}

.circular-progress circle.bg {
  stroke: #ddd;
}

.circular-progress circle.fg {
  transform: rotate(-90deg);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
  transition: stroke-dasharray 0.3s linear 0s;
  stroke: #16ABDB;
}
.progress-bar-div {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
  
}
  /* Center the percentage text within the progress bar */
  .progress-bar-span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    color: #1e1e1e!important; /* Adjust the text color as needed */
  }
}